<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h5 class="title text-right">تقرير الشيكات</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="checkForm" (ngSubmit)="onSubmit()">

                        <div class=" row">
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label class="pull-right">العميل</label>
                                    <select formControlName="client" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.client.errors }">
                                        <option value="all" selected>كل العملاء</option>
                                        <option *ngFor="let client of clients;" value={{client._id}}>{{client.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                                        <div *ngIf="f.client.errors.required">تحديد العميل الزامي</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label class="pull-right">الخزينه</label>
                                    <select formControlName="treasury" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.treasury.errors }">
                                        <option value="all" selected>الكل</option>
                                        <option *ngFor="let treasury of treasuries;" value={{treasury._id}}>
                                            {{treasury.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.treasury.errors" class="invalid-feedback">
                                        <div *ngIf="f.treasury.errors.required">تحديد الخزينه الزامي</div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label class="pull-right">الحاله</label>
                                    <select formControlName="status" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                        <option value="underprocess" selected>موجود</option>
                                        <option value="reback">مسترجع</option>
                                        <option value="cashed">مصروف</option>
                                    </select>
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">تحديد الحاله الزامي</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button class=" btn btn-fill btn-danger" type="submit">بحث</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-primary" (click)="printall()" *ngIf="!printmode"><i class="fas fa-print"></i> طباعه الكل
    </button>
    <div class="card" id="alldoc">
        <div class=" table-responsive">
            <table class=" table tablesorter pull-right">
                <thead class="text-center">
                    <tr>
                        <th>اسم العميل</th>
                        <th>المبلغ</th>
                        <th>تاريخ الاستحقاق</th>
                        <th>رقم الشيك</th>
                        <th>الخزينه</th>
                        <th>ملاحظات</th>
                </thead>
                <tbody class="text-right">
                    <tr *ngFor="let check of obj;">
                        <td>{{check.client.name}}</td>
                        <td>{{check.value}}</td>
                        <td>{{check.dateexpire | date: 'dd/MM/yyyy'}}</td>
                        <td>{{check.checkno}}</td>
                        <td>{{check.treasury.name}}</td>
                        <td>{{check.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>