<div class=" content">
  <div class=" row">
    <div class="col-md-4">
    </div>
    <div class=" col-md-4">
      <div class="card">
        <div class=" card-header">
          <h5 class="title text-right">اعاده تعين كلمه المرور</h5>
        </div>
        <div class=" card-body">
          <form [formGroup]="restpasswordForm" (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" role="alert" *ngIf="err">
خطأ في تغيير كلمه المرور
            </div>
                       
            <div class="row">
              <div class="col-md-12">
                <img style="width: 50%; border-radius: 40%; margin-left: 25%;" src="../../../assets/img/logo.jpeg" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="pull-right">كلمه المرور</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">كلمه المرور الزاميه</div>
                      <div *ngIf="f.password.errors.minlength">كلمه المرور يجب الا يقل عدده عن ٦ </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="pull-right">تأكيد كلمه المرور</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">تأكيد كلمه المرور الزامي</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">كلمتين المرور غير متطابقه</div>
                  </div>
              </div>
              </div>
            </div>
            <button class="btn btn-fill btn-danger" style="width: 100%;">تأكيد</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>