<div >
    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <img src="../../../assets/img/logo.png" style="text-align:text-center;border-radius: 50%;" />
        </div>

        <div class="col-md-4">

        </div>

    </div>
    <div  class="row">
        <button class="btn btn-primary" (click)="print()" *ngIf="!printmode"><i class="fas fa-print"></i> طباعه  </button>
        <div class="col-md-12 text-center" id="printed">
        </div>
    </div>
</div>
