<div class=" content">
  <div class=" row">
    <div class="col-md-4">
    </div>
    <div class=" col-md-4">
      <div class="card">
        <div class=" card-header">
          <h5 class="title text-right">نسيت كلمه المرور</h5>
        </div>
        <div class=" card-body">
          <div class="alert alert-danger" role="alert" *ngIf="err">
         {{message}}
            </div>
                     
          <form [formGroup]="forgetpasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <img style="width: 50%; border-radius: 40%; margin-left: 25%;" src="../../../assets/img/logo.jpeg" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
              <label class="pull-right">الايميل</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">الايميل الزامي</div>
                  <div *ngIf="f.email.errors.email">يرجي ادخال صيغه ايميل صحيحه</div>
              </div>
          </div>
              
              </div>

            </div>
            <button class=" btn btn-fill btn-danger" style="width: 100%;">تأكيد</button>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>