<div class=" content">
  <div class="row">
    <div class=" col-md-12">
      <div class="card">
        <div class="alert alert-danger" role="alert" *ngIf="err">
          {{message}}
        </div>
        <form [formGroup]="searchForm" class="card" (ngSubmit)="onSubmitsearch()">
          <div class="row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <label class="pull-right">المندوب</label>
                <select formControlName="sales" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s.sales.errors }">
                  <option value="all" selected>كل المندوبين</option>
                  <option *ngFor="let salesman of sales;" value={{salesman._id}}>{{salesman.name}}</option>
                </select>
                <div *ngIf="submitted && s.sales.errors" class="invalid-feedback">
                  <div *ngIf="s.sales.errors.required"> تحديد المندوب الزامي</div>
                </div>
              </div>
              <div class=" form-group" style="margin-top:20px !important;">
                <ng-autocomplete #auto [data]="products" [searchKeyword]="keyword" placeholder="اختار المنتج"
                  (selected)='selectEvent($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>

            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">من</label>
                <input type="date" formControlName="from" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s.from.errors }" />
                <div *ngIf="submitted && s.from.errors" class="invalid-feedback">
                  <div *ngIf="s.from.errors.required"> تحديد القيمه الزامي</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">الي</label>
                <input type="date" formControlName="to" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s.to.errors }" />
                <div *ngIf="submitted && s.to.errors" class="invalid-feedback">
                  <div *ngIf="s.to.errors.required"> تحديد القيمه الزامي</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-fill btn-danger">بحث</button>
          </div>
        </form>
        <div class="col-md-6">
          <button class="btn btn-warning pull-right" (click)="onRest()">اعاده بيانات البحث</button>
        </div>
      </div>
      <button class="btn btn-primary" (click)="print()"><i class="fas fa-print"></i>
        طباعه</button>

      <div id="print">
        <ng-container *ngIf="!productaction">
          <div *ngFor="let storeaction of obj;let i=index" id={{i}}>
            <!-- cardownload -->
            <div class="card" *ngIf="storeaction.cardownload.status">
              <div class="card-header mb-5">
                <h3 class=" card-title text-right">تنزيل السيارات</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      تاريخ التحميل:
                      {{storeaction.cardownload.cardownloadid.daterecived | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      المندوب :
                      {{storeaction.cardownload.cardownloadid.sales.name }}
                    </div>
                  </div>
                  <div class=" card">
                    <div class=" card-header">
                      <h4 class=" card-title pull-right">تفاصيل التحميل</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter pull-right" id="">
                          <thead class="text-center">
                            <tr>
                              <th>الصنف</th>
                              <th>الوحده</th>
                              <th>الكميه</th>
                              <th>المخزن</th>
                              <th>الكميه قبل العمليه</th>
                              <th>الكميه بعد العمليه</th>
                            </tr>
                          </thead>
                          <tbody class="text-right">
                            <tr *ngFor="let product of storeaction.cardownload.cardownloadid.details;let i=index">
                              <ng-container>
                                <td>{{product.productid.name}}</td>
                                <td>{{product.unitname}}</td>
                                <td>{{product.quntity}}</td>
                                <td>{{product.store.name}}</td>
                                <td><i>{{product.balancestorebefore %
                                    product.productid.countunit}}/</i> {{product.balancestorebefore /
                                  product.productid.countunit | round}}</td>
                                <td><i>{{product.balancestoreafter %
                                    product.productid.countunit}}/</i> {{product.balancestoreafter /
                                  product.productid.countunit | round}}</td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <hr style="border: 1px solid red;">
                  </div>
                </div>
              </div>
            </div>
            <!-- carupload -->
            <div class="card" *ngIf="storeaction.carupload.status">
              <div class="card-header mb-5">
                <h3 class=" card-title text-right">تحميل السيارات</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      تاريخ التحميل:
                      {{storeaction.carupload.caruploadid.daterecived | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      المندوب :
                      {{storeaction.carupload.caruploadid.sales.name }}
                    </div>
                  </div>
                  <div class=" card">
                    <div class=" card-header">
                      <h4 class=" card-title pull-right">تفاصيل التحميل</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter pull-right" id="">
                          <thead class="text-center">
                            <tr>
                              <th>الصنف</th>
                              <th>الوحده</th>
                              <th>الكميه</th>
                              <th>المخزن</th>
                              <th>الكميه قبل العمليه</th>
                              <th>الكميه بعد العمليه</th>
                            </tr>
                          </thead>
                          <tbody class="text-right">
                            <tr *ngFor="let product of storeaction.carupload.caruploadid.details;let i=index">
                              <ng-container>
                                <td>{{product.productid.name}}</td>
                                <td>{{product.unitname}}</td>
                                <td>{{product.quntity}}</td>
                                <td>{{product.store.name}}</td>
                                <td><i>{{product.balancestorebefore %
                                    product.productid.countunit}}/</i> {{product.balancestorebefore /
                                  product.productid.countunit | round}}</td>
                                <td><i>{{product.balancestoreafter %
                                    product.productid.countunit}}/</i> {{product.balancestoreafter /
                                  product.productid.countunit | round}}</td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <hr style="border: 1px solid red;">
                  </div>
                </div>
              </div>
            </div>
            <!-- sell to clients -->
            <div class="card" *ngIf="storeaction.selltoclients.status">
              <div class="card-header mb-5">
                <h3 class=" card-title text-right">فاتوره بيع </h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      تاريخ :
                      {{storeaction.selltoclients.billid.date | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      رقم الفاتوره :
                      {{storeaction.selltoclients.billid.billno}}
                    </div>


                  </div>
                  <div class=" card">
                    <div class="card-header">
                      <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter pull-right" id="">
                          <thead class="text-center">
                            <tr>
                              <th>الصنف</th>
                              <th>الوحده</th>
                              <th>الكميه</th>
                              <th>السعر</th>
                              <th>الاجمالي</th>
                              <th>الكميه قبل العمليه</th>
                              <th>الكميه بعد العمليه</th>
                            </tr>
                          </thead>
                          <tbody class="text-right">
                            <tr *ngFor="let product of storeaction.selltoclients.billid.details;let i=index">
                              <ng-container>
                                <td>{{product.productid.name}}</td>
                                <td>{{product.unitname}}</td>
                                <td>{{product.quntity}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.quntity*product.price}}</td>
                                <td><i>{{product.balancecarbefore %
                                    product.productid.countunit}}/</i> {{product.balancecarbefore /
                                  product.productid.countunit | round}}</td>
                                <td><i>{{product.balancecarafter %
                                    product.productid.countunit}}/</i> {{product.balancecarafter /
                                  product.productid.countunit | round}}</td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        الاجمالي : {{storeaction.selltoclients.billid.totalamount}}
                      </div>
                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        المدفوع : {{storeaction.selltoclients.billid.cashed}}
                      </div>
                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        الخصم : {{storeaction.selltoclients.billid.discount}}
                      </div>

                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        المتبقي :
                        {{storeaction.selltoclients.billid.totalamount-storeaction.selltoclients.billid.cashed}}
                      </div>

                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;"
                        *ngIf="!storeaction.selltoclients.billid.forsupplier">
                        العميل : {{storeaction.selltoclients.billid.client.name}}
                      </div>
                      <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;"
                        *ngIf="storeaction.selltoclients.billid.forsupplier">
                        المورد : {{storeaction.selltoclients.billid.supplier.name}}
                      </div>

                    </div>
                    <hr style="border: 1px solid red;">
                  </div>
                </div>
              </div>
            </div>
            <!-- transfer to another store -->
            <div class="card" *ngIf="storeaction.transferproductsto.status">
              <div class="card-header mb-5">
                <h3 class=" card-title text-right">تحويل بضاعه وارد</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      تاريخ :
                      {{storeaction.transferproductsto.transferid.date | date: 'dd/MM/yyyy'}}
                    </div>
                  </div>
                  <div class=" card">
                    <div class=" card-header">
                      <h4 class=" card-title pull-right">تفاصيل التحويل</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter pull-right" id="">
                          <thead class="text-center">
                            <tr>
                              <th>الصنف</th>
                              <th>الوحده</th>
                              <th>الكميه</th>
                              <th>الكميه قبل العمليه</th>
                              <th>الكميه بعد العمليه</th>
                            </tr>
                          </thead>
                          <tbody class="text-right">
                            <tr *ngFor="let product of storeaction.transferproductsto.transferid.details;let i=index">
                              <ng-container>
                                <td>{{product.productid.name}}</td>
                                <td>{{product.unitname}}</td>
                                <td>{{product.quntity}}</td>
                                <td><i>{{product.balancetocarbefore %
                                    product.productid.countunit}}/</i> {{product.balancetocarbefore /
                                  product.productid.countunit | round}}</td>
                                <td><i>{{product.balancetoafter %
                                    product.productid.countunit}}/</i> {{product.balancetoafter /
                                  product.productid.countunit | round}}</td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        من مندوب : {{storeaction.transferproductsto.transferid.fromsales.name}}
                      </div>
                    </div>
                    <hr style="border: 1px solid red;">
                  </div>
                </div>
              </div>
            </div>
            <!-- transfer from another store -->
            <div class="card" *ngIf="storeaction.transferproductsfrom.status">
              <div class="card-header mb-5">
                <h3 class=" card-title text-right">تحويل بضاعه صادر</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                      تاريخ :
                      {{storeaction.transferproductsfrom.transferid.date | date: 'dd/MM/yyyy'}}
                    </div>
                  </div>
                  <div class=" card">
                    <div class=" card-header">
                      <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter pull-right" id="">
                          <thead class="text-center">
                            <tr>
                              <th>الصنف</th>
                              <th>الوحده</th>
                              <th>الكميه</th>
                              <th>الكميه قبل العمليه</th>
                              <th>الكميه بعد العمليه</th>
                            </tr>
                          </thead>
                          <tbody class="text-right">
                            <tr *ngFor="let product of storeaction.transferproductsfrom.transferid.details;let i=index">

                              <ng-container>
                                <td>{{product.productid.name}}</td>
                                <td>{{product.unitname}}</td>
                                <td>{{product.quntity}}</td>
                                <td><i>{{product.balancefromcarbefore %
                                    product.productid.countunit}}/</i> {{product.balancefromcarbefore /
                                  product.productid.countunit | round}}</td>
                                <td><i>{{product.balancefromafter %
                                    product.productid.countunit}}/</i> {{product.balancefromafter /
                                  product.productid.countunit | round}}</td>

                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                        الي مندوب : {{storeaction.transferproductsfrom.transferid.tosales.name}}
                      </div>
                    </div>
                    <hr style="border: 1px solid red;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="productaction">

          <table style="size: auto; width: 1000px  !important;">
            <thead class="text-center">
              <tr style="">
                <th scope="col" style="font-weight: bold;color: #1c2128;width:1% !important;">الصنف:</th>
                <th scope="col" class="text-right" style="font-weight: bold; color: #1c2128;">{{selectedproduct.name}}
                </th>
                <th scope="col" style="font-weight: bold; color: #1c2128; width:1% !important;">من:</th>
                <th scope="col" class="text-right" style="font-weight: bold; color: #1c2128;">{{searchobj.from | date:
                  'dd/MM/yyyy'}}</th>
                <th scope="col" style="font-weight: bold; color: #1c2128; width:1% !important;">الي:</th>
                <th scope="col" class="text-right" style="font-weight: bold; color: #1c2128;">{{searchobj.to| date:
                  'dd/MM/yyyy'}}</th>
                <th scope="col" style="font-weight: bold; color: #1c2128; width:1% !important;">المندوب:</th>
                <th scope="col" class="text-right" style="font-weight: bold; color: #1c2128;">{{searchobj.sales}}</th>
              </tr>
            </thead>
          </table>

          <table class="customtable" style="size: auto; width: 1000px !important;">
            <thead class="text-center">
              <tr>
                <th scope="col">التاريخ</th>
                <th scope="col">الكميه قبل العمليه</th>
                <th scope="col">الكميه</th>
                <th scope="col">الكميه بعد العمليه</th>
                <th scope="col">نوع العمليه</th>
                <th scope="col">رقم الاذن</th>
                <th scope="col">اسم العميل / المخزن/ المندوب</th>
              </tr>
            </thead>
            <tbody class="text-right" >
              <tr *ngFor="let el of subobj;">
                    <ng-container *ngIf="el.type==='cardownload'">

                <td>{{ el.date | date: 'dd/MM/yyyy'}}</td>

                <td><i>{{el.obj.balancecarbefore %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarbefore /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.realquntity %
                    el.obj.productid.countunit}}/</i> {{el.obj.realquntity /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.balancecarafter %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarafter /
                  el.obj.productid.countunit | round}}</td>
                <td>تنزيل من سياره</td>
                <td>ـــ</td>
                <td>{{el.obj.store.name}}</td>
              </ng-container>
              <ng-container *ngIf="el.type==='carupload'">
                <td>{{ el.date | date: 'dd/MM/yyyy'}}</td>

                <td><i>{{el.obj.balancecarbefore %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarbefore /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.realquntity %
                    el.obj.productid.countunit}}/</i> {{el.obj.realquntity /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.balancecarafter %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarafter /
                  el.obj.productid.countunit | round}}</td>

                <td>تحميل سياره</td>
                <td>ـــ</td>
                <td>{{el.obj.store.name}}</td>

              </ng-container>
              <ng-container *ngIf="el.type==='selltoclients'">

                <td>{{ el.date | date: 'dd/MM/yyyy'}}</td>

                <td><i>{{el.obj.balancecarbefore %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarbefore /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.realquntity %
                    el.obj.productid.countunit}}/</i> {{el.obj.realquntity /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.balancecarafter %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancecarafter /
                  el.obj.productid.countunit | round}}</td>

                <td>فاتوره بيع</td>
                <td>{{el.billno}}</td>
                <td>
                  <i *ngIf="el.contactname.forsupplier">{{el.contactname.supplier.name}}</i>
                  <i *ngIf="!el.contactname.forsupplier">{{el.contactname.client.name}}</i>
                </td>
              </ng-container>
              <ng-container *ngIf="el.type==='transferproductsto'">
                <td>{{ el.date | date: 'dd/MM/yyyy'}}</td>
                <td><i>{{el.obj.balancetocarbefore %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancetocarbefore /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.quntity %
                    el.obj.productid.countunit}}/</i> {{el.obj.quntity /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.balancetoafter %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancetoafter /
                  el.obj.productid.countunit | round}}</td>

                <td>تحويل وارد</td>
                <td>ـــ</td>
                <td>من مندوب : {{el.contactname.fromsales.name}}</td>
              </ng-container>
              <ng-container *ngIf="el.type==='transferproductsfrom'">

                <td>{{ el.date | date: 'dd/MM/yyyy'}}</td>

                <td><i>{{el.obj.balancefromcarbefore %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancefromcarbefore /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.quntity %
                    el.obj.productid.countunit}}/</i> {{el.obj.quntity /
                  el.obj.productid.countunit | round}}</td>

                <td><i>{{el.obj.balancefromafter %
                    el.obj.productid.countunit}}/</i> {{el.obj.balancefromafter /
                  el.obj.productid.countunit | round}}</td>

                <td>تحويل صادر</td>
                <td>ـــ</td>
                <td>الي مندوب : {{el.contactname.tosales.name}}</td>
              </ng-container>
              </tr>
          
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>