<div class=" content">
  <div class="row">
    <div class=" col-md-12">
      <div class="card">
        <div class="alert alert-danger" role="alert" *ngIf="err">
          {{message}}
        </div>
        <form [formGroup]="searchForm" class="card" (ngSubmit)="onSubmitsearch()">
          <div class="row">
            <div class="form-group col-md-12">
              <label class="pull-right">الشريك</label>
              <select formControlName="partner" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s.partner.errors }">
                <option value="" disabled></option>
                <option *ngFor="let user of users;" value={{user._id}}>{{user.name}}</option>
              </select>
              <div *ngIf="submitted && s.partner.errors" class="invalid-feedback">
                <div *ngIf="s.partner.errors.required">تحديد الشريك الزامي</div>
              </div>
            </div>

            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">من</label>
                <input type="date" formControlName="from" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">الي</label>
                <input type="date" formControlName="to" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-fill btn-danger">بحث</button>
          </div>
        </form>
        <div class="col-md-6">
          <button class="btn btn-warning pull-right" (click)="onRest()">اعاده بيانات البحث</button>
        </div>

      </div>

      <div *ngFor="let  liquidate of liquidates;let i=index" id={{i}}>
        <div class="row">
          <div class="col-md-6 center pull-right" style="font-weight: bold; color: #1c2128;">
            تاريخ التصفيه :
            {{liquidate.Date | date: 'dd/MM/yyyy'}}
          </div>

        </div>
        <div class="card">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">طلبات البيع</h3>
          </div>
          <div class="row" *ngFor="let sellbill of liquidate.sellbills;">
            <div class="col-md-12 pull-right">
              <div class="row">
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ الارسال:
                  {{sellbill.daterecived | date: 'dd/MM/yyyy'}}
                </div>

                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ الاجراء:
                  {{sellbill.dateaction | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right" id="">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                          <th>المخزن</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of sellbill.details;let i=index">
                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.viewquntity}}</td>
                          <td>{{product.price}}</td>
                          <td>{{product.viewquntity*product.price}}</td>
                          <td>{{product.fromstore.name}}</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    الاجمالي : {{sellbill.total}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المدفوع : {{sellbill.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المتبقي : {{sellbill.total-sellbill.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    الي : {{sellbill.to.name}}
                  </div>
                </div>

                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">طلبات الشراء</h3>
          </div>
          <div class="row" *ngFor="let buybill of liquidate.buybills;">
            <div class="col-md-12 pull-right">
              <div class="row">
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ الارسال:
                  {{buybill.daterecived | date: 'dd/MM/yyyy'}}
                </div>

                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ الاجراء:
                  {{buybill.dateaction | date: 'dd/MM/yyyy'}}
                </div>
              </div>


              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right" id="">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of buybill.details;let i=index">
                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.viewquntity}}</td>
                          <td>
                            <i *ngIf="!editclicked">
                              {{product.price}}
                            </i>
                            <input *ngIf="editclicked" type="number" value={{product.price}} />
                          </td>
                          <td>{{product.viewquntity*product.price}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="col-md-3">
                      <div class="text-right" style="font-weight: bold; color: #1c2128;">
                        الاجمالي : {{buybill.total}}
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="text-right" style="font-weight: bold; color: #1c2128;">
                        المدفوع : {{buybill.cashed}}
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="text-right" style="font-weight: bold; color: #1c2128;">
                        المتبقي : {{buybill.total-buybill.cashed}}
                      </div>


                    </div>
                    <div class="col-md-3">
                      <div class="text-right" style="font-weight: bold; color: #1c2128;">
                        الي مخزن : {{buybill.tostore.name}}
                      </div>
                    </div> -->
                  </div>








                </div>
                <div class="row">
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    الاجمالي : {{buybill.total}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المدفوع : {{buybill.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المتبقي : {{buybill.total-buybill.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    من : {{buybill.from.name}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    الي مخزن : {{buybill.tostore.name}}
                  </div>

                </div>

                <hr style="border: 1px solid red;">


              </div>
            </div>
          </div>


        </div>
        <div class="card">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">التحويلات الوارده</h3>
          </div>
          <div class="row" *ngFor="let tranfer of liquidate.transferfromhim;">
            <div class="col-md-12 pull-right">
              <div class="col-md-3">
                تاريخ الارسال:
              </div>
              <div class="col-md-3">
                <div class="text-right" style="font-weight: bold; color: #1c2128;">
                  {{tranfer.daterecived | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="col-md-3">
                تاريخ القبول:
              </div>

              <div class="col-md-3">
                <div class="text-right" style="font-weight: bold; color: #1c2128;">
                  {{tranfer.dateaction | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right">
                      <thead class="text-center">
                        <tr>
                          <th>من</th>
                          <th>الي</th>
                          <th>المبلغ</th>
                          <th>ملاحظات</th>
                          <th>الي خزينه</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr>
                          <td>{{tranfer.from.name}}</td>
                          <td>{{tranfer.to.name}}</td>
                          <td>{{tranfer.value}}</td>
                          <td>{{tranfer.note}}</td>
                          <td>{{tranfer.totreasury.name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr style="border: 1px solid red;">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">التحويلات الصادره</h3>
          </div>
          <div class="row" *ngFor="let tranfer of liquidate.transferfromus;">
            <div class="col-md-12 pull-right">
              <div class="col-md-3">
                تاريخ الارسال:
              </div>
              <div class="col-md-3">
                <div class="text-right" style="font-weight: bold; color: #1c2128;">
                  {{tranfer.daterecived | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="col-md-3">
                تاريخ القبول:
              </div>

              <div class="col-md-3">
                <div class="text-right" style="font-weight: bold; color: #1c2128;">
                  {{tranfer.dateaction | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right">
                      <thead class="text-center">
                        <tr>
                          <th>من</th>
                          <th>الي</th>
                          <th>المبلغ</th>
                          <th>ملاحظات</th>
                          <th>الي خزينه</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr>
                          <td>{{tranfer.from.name}}</td>
                          <td>{{tranfer.to.name}}</td>
                          <td>{{tranfer.value}}</td>
                          <td>{{tranfer.note}}</td>
                          <td>{{tranfer.fromtreasury.name}}</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr style="border: 1px solid red;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">الاجمالي النهائي :{{liquidate.value}}</h3>
          </div>
          <button class="btn btn-primary" (click)="print(i)" *ngIf="!printmode"><i class="fas fa-print"></i>
            طباعه</button>
          <hr style="border: 1px solid red;">
        </div>
      </div>
    </div>
  </div>
</div>