<div class=" content">
  <div class="row">
    <div class=" col-md-12">
      <div class="card">
        <div class="alert alert-danger" role="alert" *ngIf="err">
          {{message}}
        </div>
        <form [formGroup]="searchForm" class="card" (ngSubmit)="onSubmitsearch()">
          <div class="row">
            <div class=" col-md-12 pl-md-1">
              <div class=" form-group">
                <label class="pull-right">العملاء</label>
                <select formControlName="client" class="form-control">
                  <option *ngFor="let client of clients" value={{client._id}}>
                    {{client.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">من</label>
                <input type="date" formControlName="from" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s.from.errors }" />
                <div *ngIf="submitted && s.from.errors" class="invalid-feedback">
                  <div *ngIf="s.from.errors.required"> تحديد القيمه الزامي</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" form-group">
                <label class="pull-right">الي</label>
                <input type="date" formControlName="to" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s.to.errors }" />
                <div *ngIf="submitted && s.to.errors" class="invalid-feedback">
                  <div *ngIf="s.to.errors.required"> تحديد القيمه الزامي</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-fill btn-danger">بحث</button>
          </div>
        </form>
        <div class="col-md-6">
          <button class="btn btn-warning pull-right" (click)="onRest()">اعاده بيانات البحث</button>
        </div>
      </div>
      <div *ngFor="let clientaction of obj;let i=index" id={{i}}>
        <!-- buy from supplier -->
        <div class="card" *ngIf="clientaction.buyfromsupplier.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">فاتوره شراء</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ الارسال:
                  {{clientaction.buyfromsupplier.billid.date | date: 'dd/MM/yyyy'}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                   رقم الفاتوره:
                  {{clientaction.buyfromsupplier.billid.billno}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد قبل العملية:
                  {{clientaction.buyfromsupplier.billid.balancebefore}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد بعد العميلة:
                  {{clientaction.buyfromsupplier.billid.balanceafter}}
                </div>



              </div>
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right" id="">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of clientaction.buyfromsupplier.billid.details;let i=index">

                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.quntity}}</td>
                          <td>{{product.price}}</td>
                          <td>{{product.quntity*product.price}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    الاجمالي : {{clientaction.buyfromsupplier.billid.totalamount}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المدفوع : {{clientaction.buyfromsupplier.billid.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                    المتبقي :
                    {{clientaction.buyfromsupplier.billid.totalamount-clientaction.buyfromsupplier.billid.cashed}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="!clientaction.buyfromsupplier.billid.forclient">
                    المورد : {{clientaction.buyfromsupplier.billid.supplier.name}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="clientaction.buyfromsupplier.billid.forclient">
                    العميل : {{clientaction.buyfromsupplier.billid.client.name}}
                  </div>
                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <!-- sell from store -->
        <div class="card" *ngIf="clientaction.sellfromstore.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">فاتوره بيع من المخزن</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ :
                  {{clientaction.sellfromstore.billid.date | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  رقم الفاتوره :
                  {{clientaction.sellfromstore.billid.billno}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد قبل العملية:
                  {{clientaction.sellfromstore.billid.balancebefore}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد بعد العميلة:
                  {{clientaction.sellfromstore.billid.balanceafter}}
                </div>
              </div>
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right" id="">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of clientaction.sellfromstore.billid.details;let i=index">

                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.quntity}}</td>
                          <td>{{product.price}}</td>
                          <td>{{product.quntity*product.price}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    الاجمالي : {{clientaction.sellfromstore.billid.totalamount}}
                  </div>
                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    المدفوع : {{clientaction.sellfromstore.billid.cashed}}
                  </div>
                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    الخصم : {{clientaction.sellfromstore.billid.discount}}
                  </div>

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    المتبقي : {{clientaction.sellfromstore.billid.totalamount-clientaction.sellfromstore.billid.cashed}}
                  </div>

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="!clientaction.sellfromstore.billid.forsupplier">
                    العميل : {{clientaction.sellfromstore.billid.client.name}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="clientaction.sellfromstore.billid.forsupplier">
                    المورد : {{clientaction.sellfromstore.billid.supplier.name}}
                  </div>

                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <!-- sell sales -->
        <div class="card" *ngIf="clientaction.selltoclients.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">فاتوره بيع </h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ :
                  {{clientaction.selltoclients.billid.date | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  رقم الفاتوره :
                  {{clientaction.selltoclients.billid.billno}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد قبل العملية:
                  {{clientaction.selltoclients.billid.balancebefore}}
                </div>

                <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد بعد العميلة:
                  {{clientaction.selltoclients.billid.balanceafter}}
                </div>
              </div>
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right" id="">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of clientaction.selltoclients.billid.details;let i=index">

                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.quntity}}</td>
                          <td>{{product.price}}</td>
                          <td>{{product.quntity*product.price}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    الاجمالي : {{clientaction.selltoclients.billid.totalamount}}
                  </div>
                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    المدفوع : {{clientaction.selltoclients.billid.cashed}}
                  </div>
                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    الخصم : {{clientaction.selltoclients.billid.discount}}
                  </div>

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;">
                    المتبقي : {{clientaction.selltoclients.billid.totalamount-clientaction.selltoclients.billid.cashed}}
                  </div>

                  <div class="col-md-2 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="!clientaction.selltoclients.billid.forsupplier">
                    العميل : {{clientaction.selltoclients.billid.client.name}}
                  </div>
                  <div class="col-md-3 text-right" style="font-weight: bold; color: #1c2128;"
                    *ngIf="clientaction.selltoclients.billid.forsupplier">
                    المورد : {{clientaction.selltoclients.billid.supplier.name}}
                  </div>

                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <!-- reback from suppliers -->
        <div class="card" *ngIf="clientaction.rebackfromsupplier.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">استرجاع فاتوره شراء</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ :
                  {{clientaction.date | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;"
                  *ngIf="!clientaction.rebackfromsupplier.billid.forclient">
                  المورد :
                  {{clientaction.rebackfromsupplier.billid.supplier.name}}
                </div>
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;"
                  *ngIf="clientaction.rebackfromsupplier.billid.forclient">
                  العميل :
                  {{clientaction.rebackfromsupplier.billid.client.name}}
                </div>

              </div>
              <div class=" card"
                *ngFor="let products of clientaction.rebackfromsupplier.billid.rebackdetails;let i=index">

                <div class=" card-header">
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bold; color: #1c2128;">
                      الرصيد قبل العملية:
                      {{products.balancebefore}}
                    </div>
                    <div class="col-md-6" style="font-weight: bold; color: #1c2128;">
                      الرصيد بعد العملية:
                      {{products.balanceafter}}
                    </div>
                  </div>
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body"
                  *ngIf="(clientaction.date | date: 'dd/MM/yyyy')  ==  (products.rebackdate | date: 'dd/MM/yyyy')">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of products.details;let i=index">
                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.quntity}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      الاجمالي:
                      {{products.totalamount}}
                    </div>
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      المدفوع:
                      {{products.cash}}
                    </div>
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      المتبقي:
                      {{products.totalamount - products.cash}}
                    </div>
                  </div>
                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <!-- reback sell to clients -->
        <div class="card" *ngIf="clientaction.rebackselltoclients.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">استرجاع فاتوره بيع</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ :
                  {{clientaction.date | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;"
                  *ngIf="!clientaction.rebackselltoclients.billid.forsupplier">
                  العميل :
                  {{clientaction.rebackselltoclients.billid.client.name}}
                </div>
                <div class="col-md-6 text-right" style="font-weight: bold; color: #1c2128;"
                  *ngIf="clientaction.rebackselltoclients.billid.forsupplier">
                  المورد :
                  {{clientaction.rebackselltoclients.billid.supplier.name}}
                </div>
              </div>
              <div class=" card"
                *ngFor="let products of clientaction.rebackselltoclients.billid.rebackdetails;let i=index">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل الفاتوره</h4>
                </div>
                <div class=" card-body"
                  *ngIf="(clientaction.date | date: 'dd/MM/yyyy')  ==  (products.rebackdate | date: 'dd/MM/yyyy')">
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bold; color: #1c2128;">
                      الرصيد قبل العملية:
                      {{products.balancebefore}}
                    </div>
                    <div class="col-md-6" style="font-weight: bold; color: #1c2128;">
                      الرصيد بعد العملية:
                      {{products.balanceafter}}
                    </div>
                  </div>
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right">
                      <thead class="text-center">
                        <tr>
                          <th>الصنف</th>
                          <th>الوحده</th>
                          <th>الكميه</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr *ngFor="let product of products.details;let i=index">
                          <td>{{product.productid.name}}</td>
                          <td>{{product.unitname}}</td>
                          <td>{{product.quntity}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      الاجمالي:
                      {{products.totalamount}}
                    </div>
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      المدفوع:
                      {{products.cash}}
                    </div>
                    <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                      المتبقي:
                      {{products.totalamount - products.cash}}
                    </div>
                  </div>
                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
        <!-- payment from client -->
        <div class="card" *ngIf="clientaction.paymentfromclients.status">
          <div class="card-header mb-5">
            <h3 class=" card-title text-right">سداد مديونيه عميل</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                  تاريخ :
                  {{clientaction.paymentfromclients.paymentid.daterecived | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد قبل العملية :
                  {{clientaction.paymentfromclients.paymentid.balancebefore}}
                </div>
                <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
                  الرصيد بعد العملية :
                  {{clientaction.paymentfromclients.paymentid.balanceafter}}
                </div>
              </div>
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title pull-right">تفاصيل العمليه</h4>
                </div>
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter pull-right">
                      <thead class="text-center">
                        <tr>
                          <th>من</th>
                          <th>القيمه</th>
                          <th>ملاحظات</th>
                        </tr>
                      </thead>
                      <tbody class="text-right">
                        <tr>
                          <td>{{clientaction.paymentfromclients.paymentid.client.name}}</td>
                          <td>{{clientaction.paymentfromclients.paymentid.value}}</td>
                          <td>{{clientaction.paymentfromclients.paymentid.note}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr style="border: 1px solid red;">
              </div>
            </div>
          </div>
        </div>
<!-- discount to clients -->
<div class="card" *ngIf="clientaction.discountforclients.status">
  <div class="card-header mb-5">
    <h3 class=" card-title text-right">خصم من مديونيه عميل</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
          تاريخ :
          {{clientaction.discountforclients.discountid.daterecived | date: 'dd/MM/yyyy'}}
        </div>
        <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
          الرصيد قبل العملية :
          {{clientaction.discountforclients.discountid.balancebefore}}
        </div>
        <div class="col-md-4 text-right" style="font-weight: bold; color: #1c2128;">
          الرصيد بعد العملية :
          {{clientaction.discountforclients.discountid.balanceafter}}
        </div>
      </div>
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title pull-right">تفاصيل العمليه</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter pull-right">
              <thead class="text-center">
                <tr>
                  <th>من</th>
                  <th>القيمه</th>
                  <th>ملاحظات</th>
                </tr>
              </thead>
              <tbody class="text-right">
                <tr>
                  <td>{{clientaction.discountforclients.discountid.client.name}}</td>
                  <td>{{clientaction.discountforclients.discountid.value}}</td>
                  <td>{{clientaction.discountforclients.discountid.note}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr style="border: 1px solid red;">
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>