// /* You can add global styles to this file, and also import other style files */
// @import "~@ng-select/ng-select/themes/default.theme.css";
// @page {
//   size: auto !important;
// }
table, th, td {
  border: 2px solid darkblue !important; 
  text-align: center !important;
  font-weight: 900; 
}
